In [1]:
import pandas as pd

In [11]:
people_df = pd.read_csv("../data/people.csv", index_col=0)

In [12]:
people_df

,city,country,first-name,last-name,pronouns,country-alpha_3,continent,longitude,latitude,ols-1,ols-2,ols-3,ols-4,ols-5,ols-6,ols-7
0sahene,Tamale,Ghana,Sitsofe,Morgah,He,GHA,Africa,-0.842399,9.405199,NaN,NaN,NaN,NaN,participant,NaN,NaN
0x174,Boston,United States,William,Jackson,He/Him,USA,North America,-71.060511,42.355433,NaN,NaN,participant,NaN,NaN,NaN,NaN
abdulelahsm,Dammam,Saudi Arabia,Abdulelah,Al Mesfer,he/him,SAU,Asia,50.103999,26.436782,NaN,NaN,participant,NaN,NaN,NaN,NaN
abraham-dabengwa,Johannesburg,South Africa,Abraham,Dabengwa,he/ him,ZAF,Africa,28.049722,-26.205000,NaN,NaN,NaN,NaN,participant,NaN,NaN
abretaud,Rennes,France,Anthony,Bretaudeau,He/him,FRA,Europe,-1.680020,48.111339,NaN,NaN,NaN,mentor,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
rhoné-roux,NaN,NaN,Rhoné,Roux,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,participant,NaN
sgsfak,NaN,NaN,Stelios,Sfakianakis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,participant,NaN,NaN,NaN,NaN
tallmar,NaN,NaN,Marta,Lloret Llinares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,expert,NaN
umar-farouk-ahmad,NaN,NaN,Umar Farouk,Ahmad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,participant,NaN
usmood,NaN,NaN,Mahmood,Usman,Kano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,participant,NaN

# Locations

## Countries

Proportion of people without country information

In [18]:
people_df.country.isna().sum() / len(people_df.country)

0.052132701421800945

Country repartition

In [13]:
people_df.groupby(['country']).size()

country
Argentina             13
Australia              8
Austria                1
Bangladesh             1
Belgium                2
Benin                  1
Bolivia                5
Brazil                12
Cameroon               2
Canada                14
China                  1
Colombia               1
Czechia                4
Estonia                1
Ethiopia               1
France                 9
Germany               29
Ghana                  3
Greece                 3
India                 20
Indonesia              4
Ireland                2
Italy                  8
Japan                  1
Kazakhstan             1
Kenya                 15
Luxembourg             1
Mali                   2
Mexico                 2
Nepal                  4
Netherlands           19
Nigeria                6
Norway                 3
Peru                   7
Poland                 1
Portugal               2
Russian Federation     1
Saudi Arabia           4
Singapore              1
South Africa          14
South Korea            1
Spain                 15
Sweden                 2
Switzerland            9
Thailand               1
Turkey                 6
Uganda                 1
United Kingdom        89
United States         46
Uzbekistan             1
dtype: int64

In [28]:
100 * people_df.groupby(['country']).size()  / len(people_df.country)

country
Argentina              3.080569
Australia              1.895735
Austria                0.236967
Bangladesh             0.236967
Belgium                0.473934
Benin                  0.236967
Bolivia                1.184834
Brazil                 2.843602
Cameroon               0.473934
Canada                 3.317536
China                  0.236967
Colombia               0.236967
Czechia                0.947867
Estonia                0.236967
Ethiopia               0.236967
France                 2.132701
Germany                6.872038
Ghana                  0.710900
Greece                 0.710900
India                  4.739336
Indonesia              0.947867
Ireland                0.473934
Italy                  1.895735
Japan                  0.236967
Kazakhstan             0.236967
Kenya                  3.554502
Luxembourg             0.236967
Mali                   0.473934
Mexico                 0.473934
Nepal                  0.947867
Netherlands            4.502370
Nigeria                1.421801
Norway                 0.710900
Peru                   1.658768
Poland                 0.236967
Portugal               0.473934
Russian Federation     0.236967
Saudi Arabia           0.947867
Singapore              0.236967
South Africa           3.317536
South Korea            0.236967
Spain                  3.554502
Sweden                 0.473934
Switzerland            2.132701
Thailand               0.236967
Turkey                 1.421801
Uganda                 0.236967
United Kingdom        21.090047
United States         10.900474
Uzbekistan             0.236967
dtype: float64

## Continents

Proportion of people without continent information

In [21]:
people_df.continent.isna().sum() / len(people_df.continent)

0.06635071090047394

Continent repartition

In [25]:
people_df.groupby(['continent']).size()

continent
Africa            45
Asia              45
Europe           201
North America     62
Oceania            8
South America     33
dtype: int64

In [26]:
100 * people_df.groupby(['continent']).size() / len(people_df.continent)

continent
Africa           10.663507
Asia             10.663507
Europe           47.630332
North America    14.691943
Oceania           1.895735
South America     7.819905
dtype: float64